# env
**/*.env

# certificates
**/*.pem

# controller files
controller/debug/
controller/target/
controller/**/*.rs.bk
contorller/*.pdb

# rust workspace
target

# websocket-server
websocket-server/target

# controller
controller/target
controller/debug
controller/**/*.rs.bk
controller/*.pdb

# dashboard
dashboard/node_modules
dashboard/.pnp
dashboard/.pnp.*
dashboard/.yarn/*
dashboard/!.yarn/patches
dashboard/!.yarn/plugins
dashboard/!.yarn/releases
dashboard/!.yarn/versions

dashboard/coverage

dashboard/.next/
dashboard/out/

dashboard/build

dashboard/.DS_Store
dashboard/*.pem

dashboard/npm-debug.log*
dashboard/yarn-debug.log*
dashboard/yarn-error.log*
dashboard/.pnpm-debug.log*

dashboard/.env*

dashboard/.vercel

dashboard/*.tsbuildinfo
dashboard/next-env.d.ts